<html lang="en">
<%- include("./partials/head.ejs") %>

<body>
    <%- include("./partials/nav.ejs") %>
    <div class="container-fluid">
        <form action="/currency" method="POST">
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="cur1">From:</label>
                        <select class="form-control" name="cur1" id="cur1">
                            <% for(key in symbols) { %>
                                <% if(symbols.hasOwnProperty(key)) { %>
                                    <option value=<%= key %>>(<%= key %>) <%= symbols[key] %></option>
                                <% } %>
                            <% } %>
                        </select>
                        <input type="text" class="form-control" name="from"  placeholder="Amount" id="inputval">
                    </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="cur2">To:</label>
                        <select class="form-control" name="cur2" id="cur2">
                            <% for(key in symbols) { %>
                                <% if(symbols.hasOwnProperty(key)) { %>
                                    <option value=<%= key %>>(<%= key %>) <%= symbols[key] %></option>
                                <% } %>
                            <% } %>
                        </select>
                        <input id ='resbox' class="form-control" placeholder="Result" name="to"></input><br>
                    </div>
                </div>
              </div>

            <input type="button" class="btn btn-info" value="Convert" id="convertbtn">
            </form>
    </div>

<script>
    let ratesString = '<%-JSON.stringify(rates)%>';
    let rates = JSON.parse(ratesString);

    //let cur1 = $('#')
    $('#convertbtn').click(()=>{
        let cur1Name = $("#cur1 :selected").val();
        let cur2Name = $("#cur2 :selected").val();

        let cur1rate;
        let cur2rate;
        let inp = $("#inputval").val();

        for(key in rates) { 
            if(rates.hasOwnProperty(key)) {
                if(cur1Name == key)
                {
                    cur1rate = rates[key];
                }
                if(cur2Name == key)
                {
                    cur2rate = rates[key];
                }
            }
        }
        $('#resbox').attr('value',(inp * cur2rate/cur1rate).toFixed(2));
    })

</script>
<%- include("./partials/footer.ejs") %>
</body>
</html>